################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Chapter 4/Summary 1/learnCPP4summary.vcxproj.user
