################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Chapter 4/Summary 1/learnCPP4summary.vcxproj.user
/Chapter 4/Summary 1/learnCPP4summary.vcxproj.filters
/Chapter 4/Summary 1/learnCPP4summary.vcxproj
/Chapter 4/Summary 1/learnCPP4summary.sln
/Chapter 4/Summary 1/.vs/learnCPP4summary/v16/Browse.VC.opendb
/Chapter 4/Summary 1/.vs/learnCPP4summary/v16/Browse.VC.db-wal
/Chapter 4/Summary 1/.vs/learnCPP4summary/v16/Browse.VC.db-shm
/Chapter 4/Summary 1/.vs/learnCPP4summary/v16/Browse.VC.db
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/LearnCPP-Lessons/v16/.suo
/Chapter 4/Summary 2/LearnCPP4Summary2/LearnCPP4Summary2.vcxproj.user
/Chapter 4/Summary 2/LearnCPP4Summary2/LearnCPP4Summary2.vcxproj.filters
/Chapter 4/Summary 2/LearnCPP4Summary2/LearnCPP4Summary2.vcxproj
/Chapter 4/Summary 2/LearnCPP4Summary2/LearnCPP4Summary2.sln
/Chapter 4/Summary 2/LearnCPP4Summary2/.vs/LearnCPP4Summary2/v16/Browse.VC.opendb
/Chapter 4/Summary 2/LearnCPP4Summary2/.vs/LearnCPP4Summary2/v16/Browse.VC.db-wal
/Chapter 4/Summary 2/LearnCPP4Summary2/.vs/LearnCPP4Summary2/v16/Browse.VC.db-shm
/Chapter 4/Summary 2/LearnCPP4Summary2/.vs/LearnCPP4Summary2/v16/Browse.VC.db
/Chapter 4/Summary 2/LearnCPP4Summary2/.vs/LearnCPP4Summary2/v16/.suo
/Chapter 4/Summary 1/.vs/learnCPP4summary/v16/.suo
/Chapter 4/Summary 2/Debug/vc142.pdb
/Chapter 4/Summary 2/Debug/vc142.idb
/Chapter 4/Summary 2/Debug/Summary 2.vcxproj.FileListAbsolute.txt
/Chapter 4/Summary 2/Debug/Summary 2.tlog/Summary 2.lastbuildstate
/Chapter 4/Summary 2/Debug/Summary 2.tlog/link.write.1.tlog
/Chapter 4/Summary 2/Debug/Summary 2.tlog/link.read.1.tlog
/Chapter 4/Summary 2/Debug/Summary 2.tlog/link.command.1.tlog
/Chapter 4/Summary 2/Debug/Summary 2.tlog/CL.write.1.tlog
/Chapter 4/Summary 2/Debug/Summary 2.tlog/CL.read.1.tlog
/Chapter 4/Summary 2/Debug/Summary 2.tlog/CL.command.1.tlog
/Chapter 4/Summary 2/Debug/Summary 2.pdb
/Chapter 4/Summary 2/Debug/Summary 2.log
/Chapter 4/Summary 2/Debug/Summary 2.ilk
/Chapter 4/Summary 2/Debug/Summary 2.exe.recipe
/Chapter 4/Summary 2/Debug/Summary 2.exe
/Chapter 4/Summary 2/Debug/main.obj
/Chapter 4/Summary 2/.vs/Summary 2/v16/ipch/AutoPCH/7b17bc5de2b80ee1/MAIN.ipch
/Chapter 4/Summary 2/.vs/Summary 2/v16/Browse.VC.opendb
/Chapter 4/Summary 2/.vs/Summary 2/v16/Browse.VC.db-wal
/Chapter 4/Summary 2/.vs/Summary 2/v16/Browse.VC.db-shm
/Chapter 4/Summary 2/.vs/Summary 2/v16/Browse.VC.db
/Chapter 4/Summary 2/.vs/Summary 2/v16/.suo
/.vs/VSWorkspaceState.json
/Chapter 4/Summary 2/Summary 2.vcxproj.user
/Chapter 4/Summary 2/Summary 2.vcxproj.filters
/Chapter 4/Summary 2/Summary 2.vcxproj
/Chapter 4/Summary 2/Summary 2.sln
*.suo
*.db
*.tlog
*.log
*.txt
*.exe
*.ipch
*.obj
*.db-shm
*.db-wal
*.filters
*.vcxproj
*.sln
*.pdb
*.user
*.idb
*.ilk
*.recipe
*.opendb
